.message{
    height: 70vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: black; 
    background-color: white;
    display: flex;
    flex-direction: row;
    }
.form{
   height: 55vh;
   width: 50%;
   padding-left: 150px;
}
tr{
    padding: 20px;
}
.font{
    font-size: 20px;
}
.button{
    font-size: 30px;
    border-radius: 20px;
    padding: 5px 10px;
    color: white;
    background-color: blue;
}
.button:hover{
    font-size: 30px;
    border-radius: 20px;
    padding: 5px 10px;
    color: white;
    background-color: rgb(11, 11, 102);
}
input{
    margin: 5px 0 10px 0;
    height: 5vh;
    width: 20vw;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 1px lightslategray;
}
textarea{
    padding: 5px;
    height: 10vh;
    width: 20vw;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 1px lightslategray;
}
#headline{
    font-size: 30px;
}
#name, #email, #message{
    font-size: 20px;
    font-weight: bold;
    padding-right: 50px;
}
#submit{
    position: relative;
    width: 10rem;
    height: max-content;
    background-color: rgb(58, 134, 201);
    color: white;
    font-size: 30px;
    font-weight: bold;
}
#submit:hover{
    position: relative;
    width: 10.5rem;
    height: max-content;
    background-color: rgb(24, 50, 73);
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.content{
    height: 50vh;
   width: 30%;
   margin-left: 10px;
   object-fit: contain;
}
#messageimage{
    height: 35vh;
    width: fit-content;
    
}
@media  (max-width: 768px){
.message{
    
    height: 80vh;
    flex-direction: column-reverse;
}
#messageimage{
    height: 100px;
    width: 100px;
}
.font{
font-size: 16px;
}
.form{
    height: inherit;
}
.content{
    height: 150px;
}
}
    
